In [ ]:
-- select * from  dsc_dwd.dwd_wh_dsc_inventory_dtl_di 
-- where src = 'scale'
-- and data_source in ('scale_hpi', 'scale_michelin', 'scale_fas', 'scale_bose')
-- and inc_day in ('20211124', '20211117', '20211110', '20211103', 
-- '20211027', '20211020', '20211013','20211006')
-- and usage_flag = '1'

In [ ]:
import pandas as pd
import numpy as np
from datetime import datetime, date, timedelta
import re
import os
import warnings
from tqdm import tqdm
warnings.filterwarnings("ignore")

print(os.listdir('data_down'))

['inv_7.csv']

In [2]:
%%time
df = pd.read_csv('./data_down/inv_7.csv', sep='\001')
df.columns = [re.sub('\w+\.', '', i) for i in list(df.columns)]
df = df.dropna(how = 'all', axis =1)
time_cols = pd.Series(df.columns)[pd.Series(df.columns).str.lower().str.findall('date|time').apply(len)>0]
df[time_cols] = df[time_cols].apply(lambda x: x.str.slice(0,10))
df9 = df

Wall time: 9.71 s

In [164]:
def load_data(data_source):
    """
    load bose data;
    所有类型的qty都要加起来哦
    只选择有多个收货日期的货物
    """
    df = df9
    df = df[df['data_source'] == data_source]
    df ['recived_date'] = pd.to_datetime(df['recived_date'])
    df = df[['wms_company_name', 'wms_warehouse_id','sku_code', 'sku_name', 'sku_desc', 'location_zone',\
        'lock_codes', 'on_hand_qty', 'in_transit_qty','allocated_qty', 'shelf_days', 
        'recived_date','usage_flag', 'inc_day']]
    qty = pd.Series(df.columns).str.extract('(.+qty)').dropna(axis = 0)
    df['qty'] = df[qty[0]].sum(axis = 1).round(2)
    # bose_inv.drop_duplicates(subset = ['sku_code', 'recived_date', 'lock_codes', 'inc_day', 'qty'])
    # 没有重复的 目前看....aaa
    df = df.groupby(['recived_date', 'sku_code', 'lock_codes','inc_day', 'wms_warehouse_id'], dropna = False).agg(
    {
        'qty':sum,
        'location_zone': set
    }
    ).sort_values(['sku_code', 'recived_date']).reset_index()
    # 只选择有多个收货日期的货物
    filter0 = df.groupby(['sku_code'])['recived_date'].agg(
    {
        set
    }
        ).reset_index()

    filter0 = pd.DataFrame(filter0[filter0['set'].apply(len)> 1]['sku_code'].drop_duplicates())
    bose_inv = filter0.merge(df, on = ['sku_code'], how = 'inner')\
        .sort_values(['recived_date','sku_code', 'inc_day'])
    
    return bose_inv

bose_inv = load_data('scale_bose')

In [165]:
# # 只选择多次出库的货物
# filter = bose.groupby(['recived_date', 'sku_code'])['inc_day'].agg({set}).reset_index()
# filter = filter[filter['set'].apply(len)> 1][['recived_date','sku_code']].drop_duplicates();filter
bose_inv.head(4)

,sku_code,recived_date,lock_codes,inc_day,wms_warehouse_id,qty,location_zone
13036,722713-0010,2015-09-08,1000,20211006,BOSE_SH,13.0,{L-CE-1000}
13037,722713-0010,2015-09-08,1000,20211013,BOSE_SH,13.0,{L-CE-1000}
13038,722713-0010,2015-09-08,1000,20211020,BOSE_SH,13.0,{L-CE-1000}
13039,722713-0010,2015-09-08,1000,20211027,BOSE_SH,13.0,{L-CE-1000}

In [166]:
%%time
df0 = pd.DataFrame()
def snapshot():
    """
    pivot table. inc_day 快照 作为 cols
    添加标记.
    """
    global df0, bose_inv
    for i in tqdm(bose_inv['sku_code'].unique(), ascii= False, colour = 'green'):
        df_out = bose_inv[bose_inv['sku_code'] == i]\
            .pivot_table(columns=['inc_day'], index = 'recived_date', values=['qty']).reset_index()
        df_out['sku_code'] = i
        df0 = pd.concat([df0, df_out], axis = 0)
    try:
        df0.columns = df0.columns.get_level_values(level=1)
    except:
        pass
    df0.columns = list(df0.columns[0:8]) + ['received_date','sku']
    df0 = df0.sort_values(['sku', 'received_date'])
    df0['mark'] = 0
    # 这个吊东`西不知道为什么是反选的 
    df0['mark'] = df0['mark'].where(df0.iloc[:, 0:7].isna().all(axis = 1) == False, 'new')
    df0['mark'] = df0['mark'].where(~df0.iloc[:,7].isna() , 'clear')
    bose_inv = bose_inv.rename({'sku_code':'sku', 'recived_date':'received_date'}, axis = 1)\
        .reset_index(drop = True).drop(['inc_day', 'qty'], axis = 1)
    bose_inv = bose_inv.drop_duplicates(subset = ['sku', 'received_date', 'lock_codes'])
    df0 = df0.merge(bose_inv, on = ['sku','received_date'], how = 'left')   
snapshot()

100%|██████████| 1034/1034 [00:49<00:00, 20.76it/s]

Wall time: 49.9 s

In [167]:
def err_part():
    """
    findout who are the naught peach.
    err 中干掉了 new 干掉了maylock 
    """
    df_err = df0[df0['mark'] != 'new']
    # 补充可能被锁的标记
    df_err['mark'] = df_err['mark'].where(df_err.iloc[:, 0:8].fillna(0).nunique(axis = 1) > 1, 'may_lock')
    # 干掉了maylock
    df_err = df_err[df_err['mark'] != 'may_lock'].sort_values(['sku', 'received_date'])
    df_err['change'] = df_err.iloc[:,0:8].diff(axis = 1).sum(axis = 1)
    shift = df_err.groupby('sku').shift(1) 
    # q = []
    # for i in shift['mark']:
    #     if pd.isna(i):
    #         q.append('clear')
    #     elif i =='clear':
    #         q.append('clear')
    #     else:
    #         q.append('check')
    # shift['mark'] = q
    # shift['mark2'] = shift.iloc[:,0:8].diff(axis = 1).sum(axis = 1)
    shift = shift[['mark','change']]
    shift.columns = ['lag_mark', 'lag_change']
    shift['lag_mark'] = shift['lag_mark'].where(~shift['lag_mark'].isna(), 'clear')
    df_err = pd.concat([df_err, shift], axis = 1)
    # df_wrong = df_err[(df_err['lag_mark'] != 'clear') & (df_err['change'] != 0)]
    # df_good  = df_err[(df_err['lag_mark'] != 'clear') | (df_err['change'] != 0)]
    return df_err
df_err = err_part()
    # shift['mark'] = ['clear' if (i == np.nan) 'clear'  elif (i =='clear') else 'check' for i in shift['mark']];shift

In [168]:
# df_err.to_pickle('./data_up/df_err_bose.p')
# df0.to_pickle('./data_up/df0_bose.p')
df_err_bose = pd.read_pickle('./data_up/df_err_bose.p')
df0_bose = pd.read_pickle('./data_up/df0_bose.p')

In [169]:

def output(df_err, df0):
    dishes = list(df_err[(df_err['lag_mark'] != 'clear') & (df_err['change'] != 0)]['sku'].unique())
    return df0[df0['sku'].isin(dishes)]
def check(sku, df0):
    return df0[(df0['lock_codes'] == '1000') & (df0['sku'] == sku)]

In [170]:
output(df_err_bose,df0_bose)
# 1000全新 3000退货 4000破损产品

,20211006,20211013,20211020,20211027,20211103,20211110,20211117,20211124,received_date,sku,mark,lock_codes,wms_warehouse_id,location_zone
3,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,2020-03-06,000000000000024643,0,4000,BOSE_SH,{L-CE-4000}
4,7.0,7.0,7.0,7.0,7.0,7.0,7.0,7.0,2020-04-21,000000000000024643,0,4000,BOSE_SH,{L-CE-4000}
5,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2021-04-14,000000000000024643,0,4000,BOSE_SH,{L-CE-1000}
6,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-06-04,000000000000024643,clear,1000,BOSE_SH,{L-CE-1000}
7,NaN,NaN,98.0,98.0,98.0,97.0,95.0,95.0,2021-10-15,000000000000024643,0,1000,BOSE_SH_Bonded,{L-CE-1000}
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6751,847.0,460.0,169.0,NaN,NaN,NaN,NaN,NaN,2021-09-24,866724-0200,clear,1000,BOSE_SH,{L-CE-1000}
6752,768.0,768.0,768.0,NaN,NaN,NaN,NaN,NaN,2021-09-26,866724-0200,clear,1000,BOSE_SH,{L-CE-1000}
6753,NaN,NaN,768.0,NaN,NaN,NaN,NaN,NaN,2021-10-20,866724-0200,clear,1000,BOSE_SH_Bonded,{L-CE-1000}
6754,NaN,NaN,NaN,NaN,1152.0,231.0,231.0,231.0,2021-11-03,866724-0200,0,1000,BOSE_SH_Bonded,{L-CE-1000}
6755,NaN,NaN,NaN,NaN,NaN,278.0,217.0,47.0,2021-11-09,866724-0200,0,1000,BOSE_SH,{L-CE-1000}

In [133]:
output(df_err_bose,df0_bose)['sku'].unique()

In [171]:
check('866724-0200', df0_bose)

,20211006,20211013,20211020,20211027,20211103,20211110,20211117,20211124,received_date,sku,mark,lock_codes,wms_warehouse_id,location_zone
6751,847.0,460.0,169.0,NaN,NaN,NaN,NaN,NaN,2021-09-24,866724-0200,clear,1000,BOSE_SH,{L-CE-1000}
6752,768.0,768.0,768.0,NaN,NaN,NaN,NaN,NaN,2021-09-26,866724-0200,clear,1000,BOSE_SH,{L-CE-1000}
6753,NaN,NaN,768.0,NaN,NaN,NaN,NaN,NaN,2021-10-20,866724-0200,clear,1000,BOSE_SH_Bonded,{L-CE-1000}
6754,NaN,NaN,NaN,NaN,1152.0,231.0,231.0,231.0,2021-11-03,866724-0200,0,1000,BOSE_SH_Bonded,{L-CE-1000}
6755,NaN,NaN,NaN,NaN,NaN,278.0,217.0,47.0,2021-11-09,866724-0200,0,1000,BOSE_SH,{L-CE-1000}

=================================
# HP
=================================

In [172]:
%%time
del df0 ,bose_inv
bose_inv = load_data('scale_hpi');bose_inv
df0 = pd.DataFrame()
snapshot()

# snapshot()
df_err = err_part()

100%|██████████| 1483/1483 [01:15<00:00, 19.64it/s]

Wall time: 1min 22s

In [173]:
# df_err.to_pickle('./data_up/df_err_hp.p')
# df0.to_pickle('./data_up/df0_hp.p')
df_err_hp = pd.read_pickle('./data_up/df_err_hp.p')
df0_hp = pd.read_pickle('./data_up/df0_hp.p')

In [174]:
output(df_err_hp, df0_hp)

,20211006,20211013,20211020,20211027,20211103,20211110,20211117,20211124,received_date,sku,mark,lock_codes,wms_warehouse_id,location_zone
41,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,2021-07-13,1VV21AA,clear,1004-34,HPI_SH,{L_Normal}
42,3.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,2021-07-19,1VV21AA,clear,1004-34,HPI_SH,{L_Normal}
43,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,2021-07-22,1VV21AA,clear,1004-34,HPI_SH,{L_Normal}
44,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,2021-08-05,1VV21AA,clear,1004-34,HPI_SH,{L_Normal}
45,3.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,2021-08-09,1VV21AA,clear,1004-34,HPI_SH,{L_Normal}
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12138,10.0,10.0,4.0,4.0,4.0,4.0,4.0,NaN,2021-09-29,Z7Y79A,clear,1001-34,HPI_WH,{L_Normal}
12188,36.0,18.0,6.0,6.0,6.0,6.0,6.0,6.0,2021-08-31,Z9M07A,0,1001-34,HPI_WH,{L_Normal}
12189,36.0,18.0,6.0,6.0,6.0,6.0,6.0,6.0,2021-08-31,Z9M07A,0,1002-34,HPI_WH,{L_Normal}
12190,36.0,36.0,NaN,NaN,NaN,NaN,NaN,NaN,2021-09-27,Z9M07A,clear,1001-34,HPI_WH,{L_Normal}
12191,NaN,NaN,NaN,96.0,96.0,96.0,51.0,51.0,2021-10-25,Z9M07A,0,1001-34,HPI_WH,{L_Normal}

In [180]:
# output(df_err_hp, df0_hp)['sku'].unique()

array(['1VV21AA', '1VV22AA', '1XA55A', '1XA81A', '22A80A', '28B51A#AB2',
       '2EH31A', '2EZ26A', '2PD46A', '2RM82A#BCD', '3ED78A', '3GX99A#AB2',
       '3JA77AA', '3JA78AA', '3JA79AA', '3JA80AA', '3JA81AA', '3JA82AA',
       '3JA83AA', '3JA84AA', '3JB06AA', '3JN69A', '3PZ35A#AB2',
       '3QA35A#AB2', '3UK97D#AB2', '3WT89MC', '3WX02A', '3WX07A',
       '3WX08A', '3WX30A', '3YM15AA', '3YM17AA', '3YM19AA', '3YM20AA',
       '3YM21AA', '3YM22AA', '3YM70AA#AB2', '3YM71AA#AB2', '3YM72AA#AB2',
       '3YM73AA#AB2', '3YM76AA#AB2', '3YM77AA#AB2', '3YN07AA', '3YN09AA',
       '3YP42AA#AB2', '3YP93AA', '3YP94AA', '3YW73A#AB2', '4KJ64D#AB2',
       '4PZ47A#AB2', '4VW13A#BCD', '4YE53A#AB2', '4YE56A#AB2', '4YL17MC',
       '4ZA22A', '4ZA23A', '4ZA24A', '4ZB81A#AB2', '51645AA#007',
       '5NL12A#AB2', '5RC84A#AB2', '5RC86A#AB2', '5RC87A#AB2',
       '5SD79B#AB2', '5VA74A#AB2', '6GX04A#AB2', '6GX05A#AB2',
       '6GX06A#AB2', '6ZD21AA#AB2', '6ZD29AA', '6ZD30AA', '7FR55D#AB2',
       '7FR60D#AB2', '7FT03B#AB2', '7WN07D#AB2', '7WN44D#AB2',
       '7ZB20A#AB2', '8GS43A#AB2', '8PE93A#AB2', '8PE94A#AB2', '9RR49A',
       '9RR50A', '9RR53A', '9UW02A', '9VV52A#AB2', '9YF98A#AB2', 'C1Q10A',
       'C1Q19A', 'C1Q49A', 'C1Q50A', 'C1Q52A', 'C1Q61A', 'C1Q62A',
       'C1Q63A', 'C1Q64A', 'C2P04AA', 'C2P05AA', 'C2P06AA', 'C2P07AA',
       'C2P19AA', 'C2P20AA', 'C2P21AA', 'C2P23AA', 'C2P24AA', 'C2P25AA',
       'C2P26AA', 'C4810A', 'C4811A', 'C4812A', 'C4813A', 'C4836A',
       'C4837A', 'C4844A', 'C4939A', 'C8091A', 'C8765ZZ#AB2',
       'C8766ZZ#AB2', 'C8817AA#007', 'C9352AA#007', 'C9364ZZ#AB2',
       'C9372A', 'C9373A', 'C9407A', 'C9410A', 'C9455A', 'C9730A',
       'C9730AC', 'C9731A', 'C9731AC', 'C9733A', 'CB316ZZ', 'CB386A',
       'CB436A', 'CB436AC', 'CB436AF', 'CB540A', 'CB541A', 'CB542A',
       'CB543A', 'CC364A', 'CC388A', 'CC388AC', 'CC388AD', 'CC388X',
       'CC388XC', 'CC530A', 'CC531A', 'CC532A', 'CC533A', 'CC640ZZ',
       'CC653AA', 'CC654AA', 'CC656AA', 'CC660AA#007', 'CD887AA',
       'CD888AA', 'CD972AA', 'CD974AA', 'CD975AA', 'CE250A', 'CE251A',
       'CE253A', 'CE255A', 'CE260A', 'CE261A', 'CE262A', 'CE263A',
       'CE270A', 'CE271A', 'CE272A', 'CE273A', 'CE278A', 'CE278AC',
       'CE278AF', 'CE310A', 'CE310AD', 'CE311A', 'CE312A', 'CE313A',
       'CE314A', 'CE320A', 'CE322A', 'CE323A', 'CE340A', 'CE341A',
       'CE343A', 'CE390A', 'CE400A', 'CE401A', 'CE402A', 'CE403A',
       'CE410A', 'CE410X', 'CE411A', 'CE412A', 'CE412AC', 'CE413A',
       'CE505A', 'CE505AC', 'CE515A', 'CE516A', 'CE653A#AAC',
       'CE653A#AB2', 'CE655A#AB2', 'CE740A', 'CE741A', 'CE742A', 'CE743A',
       'CF067A#AB2', 'CF210A', 'CF210X', 'CF211A', 'CF212A', 'CF213A',
       'CF214X', 'CF214XC', 'CF218A', 'CF219A', 'CF226XC', 'CF228A',
       'CF228X', 'CF230A', 'CF230X', 'CF231A', 'CF232A', 'CF233A',
       'CF234A', 'CF237A', 'CF237X', 'CF237XC', 'CF247A', 'CF256A',
       'CF256X', 'CF257A', 'CF277A', 'CF277X', 'CF277XC', 'CF280A',
       'CF280X', 'CF281A', 'CF281X', 'CF287A', 'CF287X', 'CF287XC',
       'CF289A', 'CF289X', 'CF289Y', 'CF300AC', 'CF302A', 'CF303AC',
       'CF310A', 'CF311A', 'CF313A', 'CF313AC', 'CF320A', 'CF322AC',
       'CF323A', 'CF323AC', 'CF325X', 'CF325XC', 'CF341A', 'CF350A',
       'CF351A', 'CF352A', 'CF353A', 'CF358A', 'CF360A', 'CF360XC',
       'CF361A', 'CF362A', 'CF363A', 'CF364A', 'CF365A', 'CF380A',
       'CF381A', 'CF383A', 'CF400A', 'CF400X', 'CF401A', 'CF401X',
       'CF402A', 'CF402X', 'CF403A', 'CF403X', 'CF410A', 'CF410X',
       'CF411A', 'CF411X', 'CF411XC', 'CF412A', 'CF412X', 'CF413A',
       'CF413X', 'CF450A', 'CF451A', 'CF452A', 'CF453A', 'CF470X',
       'CF471X', 'CF471XC', 'CF472X', 'CF473X', 'CF500A', 'CF500X',
       'CF501A', 'CF501X', 'CF502A', 'CF502X', 'CF503A', 'CF503X',
       'CF510A', 'CF511A', 'CF512A', 'CF513A', 'CH216A', 'CH561ZZ#AB2',
       'CH562ZZ#AB2', 'CH563ZZ#AB2', 'CH564ZZ#AB2', 'CH598A', 'CH599A',
       'CH649A', 'CM994A', 'CN045AA', 'CN046AA', 'CN047AA', 'CN048AA',
       'CN053AA', 'CN054AA', 'CN055AA', 'CN056AA', 'CN624AA', 'CN625AA',
       'CN627AA', 'CN628AA', 'CN692AA', 'CN693AA', 'CR312AA#AB2',
       'CR327A', 'CR328A', 'CR329A', 'CR333A', 'CR335A', 'CR337A',
       'CZ107AA#AB2', 'CZ108AA#AB2', 'CZ122AA', 'CZ123AA', 'CZ124AA',
       'CZ134A', 'CZ136A', 'CZ192A', 'CZ192AC', 'CZ637AA#AB2',
       'CZ638AA#AB2', 'CZ666AA', 'CZ681A', 'CZ706A', 'D3Q23A', 'D8J07A',
       'D9L63A#AB2', 'E3E03A#AB2', 'F0L95A', 'F2A72A', 'F5S41D#AB2',
       'F6V20AA#AB2', 'F6V23AA#AB2', 'F6V26AA#AB2', 'F6V27AA#AB2',
       'F6V32AA', 'F9J69A', 'F9J74A', 'G0Y77A', 'G0Y81B', 'G0Y83B',
       'G0Y84B', 'G3Q37A#AB2', 'G3Q46A#AB2', 'G3Q50A#AAC', 'G3Q61A#AB2',
       'G3Q62A#AB2', 'G3Q68A#AB2', 'G3Q75A#AB2', 'J3M71A', 'J8030A',
       'L0R05A', 'L0R06A', 'L0R07A', 'L0R08A', 'L0R09A', 'L0R13A',
       'L0R17YC', 'L0R19YC', 'L0R42AA', 'L0R88AA', 'L0R91AA', 'L0R94AA',
       'L0R97AA', 'L0S00AA', 'L0S03AA', 'L0S06AA', 'L0S09AA', 'L0S20YC',
       'L0S21AA', 'L0S22AA', 'L0S23AA', 'L0S24AA', 'L0S30YC', 'L0S51AA',
       'L0S54AA', 'L0S57AA', 'L0S60AA', 'L0S63AA', 'L0S66AA', 'L0S69AA',
       'L0S72AA', 'L2747A#AB2', 'L2749A#AB2', 'L2763A#AB2', 'M0H54AA',
       'M0H55AA', 'M0J76AA', 'M0J80AA', 'M0J84AA', 'M0J88AA', 'M0J92AA',
       'M0J96AA', 'M0K00AA', 'M0K04AA', 'M0K27XC', 'N4L17A#AB2',
       'NHXHC1821', 'NHXHC1822', 'NHXHC1823', 'P2V83A', 'Q2612A',
       'Q2612AC', 'Q2612AF', 'Q2612X', 'Q2612XC', 'Q5949A', 'Q5949X',
       'Q6001A', 'Q7516A', 'Q7516AC', 'Q7553A', 'Q7570A', 'SS536A',
       'SS557A', 'SS597A', 'SS657A', 'SS661A', 'SS669A', 'SS687A',
       'SS691A', 'SS711A', 'SS808A', 'SS823A', 'SS851A', 'ST976A',
       'SU021A', 'SU044A', 'SU052A', 'SU088A', 'SU110A', 'SU165A',
       'SU177A', 'SU185A', 'SU195A', 'SU222A', 'SU244A', 'SU299A',
       'SU311A', 'SU319A', 'SU354A', 'SU521A', 'SU529A', 'SU539A',
       'SU565A', 'SU723A', 'SU764A', 'SU805A', 'SU820A', 'SU824A',
       'SU867A', 'SU927A', 'SU948A', 'SU969A', 'SV164A', 'T0A80AA',
       'T0A81AA', 'T6B51A#AB2', 'T6B52A#AB2', 'T6B60A#AB2', 'T6B70A#AB2',
       'T6B71A#AB2', 'T6L89AA', 'T6L93AA', 'T6M01AA', 'T6M05AA',
       'T6M09AA', 'T6M13AA', 'T6M17AA', 'T6M21AA', 'T6N09AA', 'T6N10AA',
       'T6N11AA', 'T8W39B#AB2', 'W1002YC', 'W1003AC', 'W1005XC',
       'W1007AC', 'W1007XC', 'W1008AC', 'W1108AD', 'W1109A', 'W1110A',
       'W1132A', 'W1333A', 'W1333X', 'W1370A', 'W1370X', 'W1470A',
       'W1A24A#AB2', 'W1A47A#AAC', 'W1A58A#AB2', 'W1A59A#AAC',
       'W1A59A#AB2', 'W1A78A#AB2', 'W1Y43A#AB2', 'W1Y44A#AB2',
       'W1Y45A#AB2', 'W2000A', 'W2001A', 'W2002A', 'W2002X', 'W2003A',
       'W2004A', 'W2010A', 'W2010X', 'W2011A', 'W2012A', 'W2012X',
       'W2013A', 'W2013X', 'W2040A', 'W2040X', 'W2041A', 'W2041X',
       'W2042A', 'W2042X', 'W2043A', 'W2043X', 'W2080A', 'W2081A',
       'W2082A', 'W2083A', 'W2120A', 'W2120X', 'W2121A', 'W2121X',
       'W2122A', 'W2122X', 'W2123A', 'W2123X', 'W9000MC', 'W9004MC',
       'W9005MC', 'W9006MC', 'W9007MC', 'W9016MC', 'W9020MC', 'W9025MC',
       'W9031MC', 'W9032MC', 'W9037MC', 'W9044MC', 'W9048MC', 'W9050MC',
       'W9051MC', 'W9052MC', 'W9053MC', 'W9054MC', 'W9055MC', 'W9058MC',
       'W9060MC', 'W9100MC', 'W9101MC', 'W9102MC', 'W9103MC', 'W9190MC',
       'W9191MC', 'W9192MC', 'W9193MC', 'W9210MC', 'W9211MC', 'W9212MC',
       'W9213MC', 'W9220MC', 'W9221MC', 'W9222MC', 'W9223MC',
       'X3A63A#AB2', 'X3A89A#AB2', 'X3A92A#AB2', 'X3D03A', 'X4D11AC',
       'X4D14AC', 'X4E75AA', 'X4E78AA', 'X4E79AA', 'Y0S19A#AB2', 'Y1F97A',
       'Y1G00A', 'Y1G07A', 'Y1G14A', 'Y1G17A', 'Y1G23A', 'Y3Z63A#AB2',
       'Y5S47A#AB2', 'Y5S54A#AB2', 'Z6Z11A#AB2', 'Z7Y70A', 'Z7Y79A',
       'Z9M07A'], dtype=object)

In [175]:
def check(sku, df0):
    return df0[df0['sku'] == sku]

In [181]:
check('3YM15AA', df0_hp)

,20211006,20211013,20211020,20211027,20211103,20211110,20211117,20211124,received_date,sku,mark,lock_codes,wms_warehouse_id,location_zone
600,324.5,394.0,276.5,308.0,407.0,341.0,137.0,116.5,2021-08-25,3YM15AA,0,1001-34,HPI_SH,{L_Normal}
601,324.5,394.0,276.5,308.0,407.0,341.0,137.0,116.5,2021-08-25,3YM15AA,0,1008-34,HPI_SH,{L_Normal}
602,324.5,394.0,276.5,308.0,407.0,341.0,137.0,116.5,2021-08-25,3YM15AA,0,1008-27,HPI_SH,{L_Normal}
603,120.0,120.0,120.0,130.0,55.0,55.0,55.0,55.0,2021-09-02,3YM15AA,0,1001-34,HPI_SH,{L_Normal}
604,NaN,NaN,NaN,NaN,NaN,NaN,NaN,840.0,2021-11-19,3YM15AA,new,1001-34,HPI_SH,{L_Normal}

=================================
# michelin
=================================

In [182]:
%%time
del df0 ,bose_inv
bose_inv = load_data('scale_michelin');bose_inv
df0 = pd.DataFrame()
snapshot()

# snapshot()
df_err = err_part()

100%|██████████| 1360/1360 [01:24<00:00, 16.02it/s]

Wall time: 1min 31s

In [183]:
# df_err.to_pickle('./data_up/df_err_mich.p')
# df0.to_pickle('./data_up/df0_mich.p')
df_err_mich = pd.read_pickle('./data_up/df_err_mich.p')
df0_mich = pd.read_pickle('./data_up/df0_mich.p')

In [184]:
output(df0=df0_mich, df_err=df_err_mich)

,20211006,20211013,20211020,20211027,20211103,20211110,20211117,20211124,received_date,sku,mark,lock_codes,wms_warehouse_id,location_zone
0,15.0,14.0,18.0,10.0,10.0,10.0,10.0,10.0,2021-09-14,000219_111,0,Available,RT,{L_label}
1,96.0,96.0,96.0,96.0,96.0,96.0,96.0,96.0,2021-09-20,000219_111,0,Available,RT,{L_label}
2,NaN,NaN,25.0,25.0,21.0,21.0,21.0,21.0,2021-10-15,000219_111,0,RETURN_FR-1F3,RT,{nan}
11,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2020-08-09,001068_109,0,RETURN_IM-1IM,RT,{nan}
12,2.0,6.0,2.0,NaN,NaN,NaN,NaN,NaN,2021-08-08,001068_109,clear,Available,RT,{L_label}
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11503,16.0,13.0,13.0,13.0,13.0,13.0,12.0,4.0,2021-07-03,MATMICHELIN00591,0,Available,NaN,{nan}
11504,30.0,14.0,11.0,87.0,87.0,87.0,91.0,91.0,2021-09-02,MATMICHELIN00591,0,Available,NaN,{nan}
11505,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2021-11-21,MATMICHELIN00591,new,RETURN_IM-1IM,NaN,{nan}
11506,16.0,4.0,3.0,79.0,79.0,77.0,72.0,73.0,2021-07-03,MATMICHELIN00592,0,Available,NaN,{nan}
11507,30.0,20.0,20.0,20.0,20.0,20.0,20.0,15.0,2021-09-02,MATMICHELIN00592,0,Available,NaN,{nan}

In [191]:
def check(sku, df0):
    return df0[(df0['lock_codes'] == 'Available')& (df0['sku'] == sku)]

check('001068_109',df0 = df0_mich)

,20211006,20211013,20211020,20211027,20211103,20211110,20211117,20211124,received_date,sku,mark,lock_codes,wms_warehouse_id,location_zone
12,2.0,6.0,2.0,NaN,NaN,NaN,NaN,NaN,2021-08-08,001068_109,clear,Available,RT,{L_label}
14,NaN,NaN,NaN,89.0,2.0,6.0,NaN,NaN,2021-10-21,001068_109,clear,Available,RT,"{nan, L_label}"
16,NaN,NaN,NaN,NaN,50.0,50.0,64.0,69.0,2021-10-31,001068_109,0,Available,RT,{L_label}
17,NaN,NaN,NaN,NaN,2.0,2.0,1.0,1.0,2021-11-02,001068_109,0,Available,RT,{L_label}
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,101.0,2021-11-20,001068_109,new,Available,RT,{L_label}